@model IEnumerable<SistemaAtualEmprestimo.Models.DevolucaoViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Devolucao">Devolver Livro</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.oDevolucao.data_entregue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.oDevolucao.Qtd)
            </th>
            <th>
                Nome do Cliente
            </th>
            <th>
                Título do Livro
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.oDevolucao.data_entregue)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.oDevolucao.Qtd)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NomeCliente)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TituloLivro)
                </td>

            </tr>
        }
    </tbody>
</table>
