@model IEnumerable<SistemaAtualEmprestimo.Models.Tb_LivroCliente>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="RealizarEmprestimo">Realizar Emprestimo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.data_emprestimo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.data_devolucao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.entregue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Qtd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Id_ClienteNavigation.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Id_LivroNavigation.Nome)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.data_emprestimo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.data_devolucao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.entregue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Qtd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Id_ClienteNavigation.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Id_LivroNavigation.Nome)
            </td>
        </tr>
}
    </tbody>
</table>
